<ion-header>
  <ion-toolbar>
    <ion-title>landing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-label>Welcome</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="mydetails">
          <ion-label>My Details</ion-label>
          <ion-icon name="person"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="testresults">
          <ion-label>Blood Tests</ion-label>
          <ion-icon name="flask"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="chart">
          <ion-label>Charts</ion-label>
          <ion-icon name="clipboard"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="ratio">
        <ion-label>My Ratio</ion-label>
        <ion-icon name="analytics"></ion-icon>
    </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

